@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}
:root{
    --white-clr: #fff;
    --black-clr:#000;
    --light-black:#333;
    --primary-clr: #e6303d;
    --secondary-clr:#eee;
    --tag-clr:#7cc576;


}
header {
  background:#007acc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow:0px 5px 14.25px .75px black ;


}
/* basic styling */
img{
  width: 100%;
  height: 100%;
  display: inline;
  transition: tranform.3s ease-in-out;
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007acc;
    color: #fff;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--black-clr);
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
.logo img{
  height: 50px;
  width:150px;
  display: block;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
}
.link:hover
{

color: red;

}
.icon-link:hover
{
  color: #e6303d;
}
.hero {

  padding: 5rem 5rem;
  top: 10px;
  
  
  background: #ffffff;
  margin-top: 5.5rem;
  border-radius: 8px;
  width: 90%;
  height: 100vh;
  background-image: url(project-img.jpg);
  background-position: center center;
  background-size:cover;
  background-repeat:no-repeat ;

}
.hero-content
{

  height: 100px;
  text-align: right;
  margin-right: 250px;


}
.hero button {
  background: #007acc;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right:20%;
}
h3{
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
}
h3 span{
  color: blue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: blue;
}
h1 span{
  color: #333;
}
h4{
  font-size: 1rem;
  line-height: 4rem;
  font-weight: 500;
  margin-left: 35%;
  
}
h4 span{
  font-size: 2rem;
  font-weight: 500;
  color:chocolate ;
  line-height: 2rems;
  
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  
}
button:hover{

color: white;
background-color: red;
}
footer {
  text-align: center;
  padding: 1rem;
  background: #007acc;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }
  
}
.icon{
  color: var(--light-black);
  background-color: var(--secondary-clr);
  text-align: center;
}
.icon img{
  display: inline;
    height: 40px;
    width: 40px;
    
    
}

/* second page -services */


.services {
    text-align: center;
    padding: 20px;
}

.services h1 {
    color: #333;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 250px;
}

.service img {
    width: 50px;
    height: 60px;
    margin-bottom: 20px;
}


.service h2 {
    color: #333;
    font-size: 18px;
}

.service p {
    color: #666;
    font-size: 14px;
}

.service button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.service button:hover {
    background-color: orange;
}      
                      /* portfolio */


.portfolio {
    text-align: center;
    padding: 20px;
}
.portfolio h1{
  color: #000;
}
.portfolio-img {
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    

}
.portfolio-container{

    display: flex;
    flex-wrap: wrap;
}
.choose-container{
     background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px
}
.chooseus{
   display: flex;
    flex-wrap: wrap;

}
      /* how it works*/
.how-it-works {
  
    text-align: center;
    padding: 20px;
}

.how-it-works h1 {
    color: #333;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.step {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
}

.step img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.step h2 {
    color: #333;
    font-size: 14px;
}
                    /* contact section */
.contact-us {
          padding: 20px;
    border: 2px solid orange;
}

.contact-us h1 {
    color: #333;
}

.contact-us h1 span {
    color: blue;
}

.contact-info {
    margin-top: 20px;
}

.phone-email a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.branches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.branch {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
}

.branch h2 {
    color: #333;
}

.get-direction {
    color: #ffcc00;
    text-decoration: none;
}


.our-presence {
    text-align: center;
    padding: 20px;
}

.our-presence h1 {
    color: #333;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.city img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.city h2 {
    color: #333;
    font-size: 18px;
}


