@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}
:root{
    --white-clr: #fff;
    --black-clr:#000;
    --light-black:#333;
    --primary-clr: #e6303d;
    --secondary-clr:#eee;
    --tag-clr:#7cc576;


}
header {
  background:#007acc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow:0px 5px 14.25px .75px black ;


}
/* basic styling */
img{
  width: 100%;
  height: 100%;
  display: inline;
  transition: tranform.3s ease-in-out;
}

       /* city page */


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007acc;
    color: #fff;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--black-clr);
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block;
}
                 /* navbar section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.active{
  background-color:blue ;
  display: block;
}
.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}
.logo img{
  height: 50px;
  width:150px;
  display: block;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
}
.icon-link:hover
{
  color: #e6303d;
}
              /*  sub menu */

.sub-menu {
    display: none;
    position: absolute;
    background-color: white ;
    padding: 10px;
}

nav li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    margin-right: 0;
    padding: 5px 0;
}
.sub-menu li a{
  color: #000;
}
.sub-menu li a:hover{
  color: blueviolet;
}
   
       /* hero section */


.hero {

  padding: 5rem 5rem;
  top: 10px;
  
  
  background: #ffffff;
  margin-top: 5.5rem;
  border-radius: 8px;
  width: 90%;
  height: 100vh;
  background-image: url(project-img.jpg);
  background-position: center center;
  background-size:cover;
  background-repeat:no-repeat ;

}
.hero-content
{

  height: 100px;
  text-align: right;
  margin-right: 250px;


}
.hero button {
  background: #007acc;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right:20%;
}
h3{
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
}
h3 span{
  color: blue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: blue;
}
h1 span{
  color: #333;
}
h4{
  font-size: 1rem;
  line-height: 4rem;
  font-weight: 500;
  margin-left: 35%;
  
}
h4 span{
  font-size: 2rem;
  font-weight: 500;
  color:chocolate ;
  line-height: 2rems;
  
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  
}
button:hover{

color: white;
background-color: red;
}

  /*residential page */
#res-page{
  background-image: url(residential-image.jpg);
  height: 90%;
  width: 100%;
  background-position: center center;
  background-size:cover;
  background-repeat:no-repeat ;
}
#header{
  font-weight: bold;
  color: orange;
  line-height: 3rem;
  text-align: center;
  text-decoration: underline;
}
#header1{
  font-weight: 200;
  color: lightcoral;
  line-height: 3rem;
  text-align: center;
  font-size:xx-large;

}
#submit-container{
  border: 1px solid red;
  width: 50%;
  height: 50%;
  text-align: center;

}

#res-container {
    width: 50%;
    height: 40%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#submit {
    color: #333;
    text-align: center;
}

#submit1{
    color: #666;
}

button[type="submit"] {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkorange;
}

/* commercial construction page*/


/*project management page*/


/*raw materials page*/


/*furniture &interior page*/
 

/* second page -services */


.services {
    text-align: center;
    padding: 20px;
}

.services h1 {
    color: #333;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 250px;
}

.service img {
    width: 50px;
    height: 60px;
    margin-bottom: 20px;
}


.service h2 {
    color: #333;
    font-size: 18px;
}

.service p {
    color: #666;
    font-size: 14px;
}

.service button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.service button:hover {
    background-color: orange;
}      
                      /* home page-portfolio */


.portfolio {
    text-align: center;
    padding: 20px;
}
.portfolio h1{
  color: #000;
}
.portfolio-img {
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    

}
.portfolio-container{

    display: flex;
    flex-wrap: wrap;
}

    /*home page-choose us*/
.choose-container{
     background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px
}
.chooseus{
   display: flex;
    flex-wrap: wrap;

}

            /* how it works*/
.how-it-works {
  
    text-align: center;
    padding: 20px;
}

.how-it-works h1 {
    color: #333;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.step {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
}

.step img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.step h2 {
    color: #333;
    font-size: 14px;
}
                    /* contact section */
.contact-us {
          padding: 20px;
    border: 2px solid orange;
}

.contact-us h1 {
    color: #333;
}

.contact-us h1 span {
    color: blue;
}

.contact-info {
    margin-top: 20px;
}

.phone-email a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.branches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.branch {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
}

.branch h2 {
    color: #333;
}

.get-direction {
    color: #ffcc00;
    text-decoration: none;
}


.our-presence {
    text-align: center;
    padding: 20px;
}

.our-presence h1 {
    color: #333;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.city img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.city h2 {
    color: #333;
    font-size: 18px;
}
                        /* footer section*/

footer {
    background-color: #007acc ;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.useful-links, .our-services, .contact-us {
    flex-basis: 33%;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}


a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #333;
}

.footer-bottom span {
    margin: 0 10px;
}













@media  screen and (max-width:700px){
  .nav-links {
    display: none;
  }
  .icon{
    display: none;
  }
  .container{
    max-width: 95%;
  }
  .hero{
    height: 60vh;
  }
  h1{
    font-size:1rem ;
    line-height: 1rem;
    
  }
  h2{
     font-size:1rem ;
    line-height: 1rem;

  }

  h3{
     font-size:2rem ;
    line-height: 2rem;
  }
h4{
     font-size:1.2rem ;
    line-height: 1rem;
    text-align: center;
  }
  span{
         font-size:1.3rem ;
    line-height: 1.3rem;
  }
  h4 span{
         font-size:1rem ;
    line-height: 1rem;
  }

}

  



